.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(300px);
  opacity: 0;
}

.slide-enter-active {
  transition: all .7s ease;
}
.slide-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to {
  height: 0;
  opacity: 0;
}


.usersystem-enter-active,.usersystem-leave-active {
  transition: all .7s ease;
}
.usersystem-enter, .usersystem-leave-to {
  opacity: 0;
}


.error-tip-enter-active,.error-tip-leave-active {
  transition: all .7s ease;
}

.error-tip-enter, .error-tip-leave-to {
  bottom:0;
  opacity: 0;
}



