@charset "utf-8";
@import "./reset.less";
@import "./base.less";
@import "./components/footer.less";

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

#pageHome {
  position: relative;
  h3 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    text-align: center;
    &.met_slogan {
      padding: 50px 0;
      font-size: 42px;
      color: #4c4c4c;
    }
  }
  p {
    width: 580px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: #6f8ea5;
    text-align: center;

    &.bit_pra {
      margin-bottom: 80px;
    }

    &.index_slogan_desc {
      color: #363636;
      width: 800px;
      margin-bottom: 150px;
    }
    &.adv_desc {
      width: 950px;
      color: #767676;
      margin-bottom: 150px;
    }
  }
  .index_top_wrap {
    height: 630px;
    background-color: #1f4764;
    color: @white;
    text-align: center;
    img {
      width: 123px;
      height: 23px;
    }
    .index_top {
      padding-top: 30px;
      margin-bottom: 160px;
      a {
        color: @white;
        float: left;
        margin: 10px 20px;
        &.bitlogin_btn {
          margin: 5px 0 0 20px;
          width: 54px;
          height: 24px;
          line-height: 20px;
          font-size: 12px;
          border: 1px solid @white;
          border-radius: 12px;

        }
      }
      .language_col {
        float: left;
        margin: 10px 20px;
        i {
          width: 10px;
          height: 10px;
          display: inline-block;
          vertical-align: top;
          margin-left: 5px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;
          -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
          transition: .3s all ease;
        }
        ul {
          display: none;
        }
      }
    }
  }

  .index_ban_box {
    > span {
      display: inline-block;
      vertical-align: middle;
      width: 160px;
      height: 52px;
      text-align: center;
      line-height: 52px;
      font-size: 18px;
      color: @white;
      cursor: pointer;
      &.create_tip {
        background-color: #a7a870;
        margin-right: 30px;
      }
      &.view_tip {
        background-color: #7891a2;
      }
    }
  }

  .top_per_wrap {
    width: 1200px;
    margin: -40px auto 130px;
    .per_target {
      float: left;
      margin-right: 50px;
      width: 200px;
      height: 120px;
      box-shadow: 0 0 5px #eee;
      background-color: @white;
      position: relative;
      padding: 75px 0 0 20px;
      &:last-of-type {
        margin-right: 0;
      }
      .per_tar_tit {
        position: absolute;
        left: 20px;
        top: 0;
        border-top: 4px solid #2cb8ac;
        padding-top: 20px;
      }
      i {
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
      }
      em {
        font-size: 30px;
      }
      .tar_arrow {
        display: inline-block;
        vertical-align: top;
        line-height: 40px;
        height: 40px;
        color: #39c46a;
        font-size: 12px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -5px;
          width: 0;
          height: 0;
          border: 4px solid transparent;
          border-bottom-color: #39c46a;
        }
      }
    }
  }

  .index_video_wrap {
    text-align: center;
    margin-bottom: 120px;
    .index_vid_col {
      display: inline-block;
      vertical-align: middle;
      width: 474px;
      height: 295px;
      background-color: #6f8ea5;
      &:first-of-type {
        margin-right: 120px;
      }
    }
  }

  .advantage_section {
    padding: 60px 0;
    overflow: hidden;
    background-color: #f4f4f4;
  }

  .adv_bot_wrap {
    text-align: center;
    margin-bottom: 50px;
    .adv_item {
      float: left;
      margin-right: 15px;
      width: 210px;
      height: 380px;
      background-color: @white;
      padding-top: 60px;
      font-size: 20px;
      &:last-of-type {
        margin-right: 0;
        width: 300px;
        background-color: #21506d;
      }
      .adv_logo {
        width: 70px;
        height: 70px;
        background-color: #f3f3f3;
        margin: 0 auto 80px;
      }
    }
  }



  .mountain_wrap{
    background-color: #2d3136;
    .spread_img {
      width: 100%;
    }
  }

  .slide {
    height: 530px;
  }

  .imac_box {
    background-color: #f4f4f4;
    margin-bottom: 200px;
    height:680px;
    h3 {
      padding: 60px 0 100px;
    }

    .mac_wrap{
      position: relative;
    }

    ul {
      li {
        margin-bottom: 70px;
        font-size: 16px;
        color: #4c4c4c;
        &.active {
          font-size: 36px;
          color: #1a1a1a;
        }
        span {
          width: 21px;
          height: 9px;
          display: inline-block;
          vertical-align: middle;
          background-color: #1f4764;
          margin-right: 10px;
        }
      }
    }

    .imac_column{
      position: absolute;
      right:0;
      top:270px;
      width:650px;
      height:515px;
      background: url("../images/mac_icon.png") no-repeat;
      p{
        width:450px;
        margin-top: 100px;
        color: #363636;
      }
    }
  }

  .create_account {
    background-color: #1f4764;
    padding-bottom: 50px;
    h3 {
      color: @white;
      padding: 50px 0;
    }
    .create_acc_wrap {
      margin: 0 auto;
      width: 367px;
      height: 48px;
      border-radius: 24px;
      border: 1px solid #b6b472;
      border-right: 0;
      color: @white;
      font-size: 18px;
      input {
        float: left;
        margin-left: 15px;
        height: 48px;
        line-height: 48px;
        color: #bcc8d0;
        background-color: transparent;
        border: none;
        outline: none;
      }
      a {
        color: @white;
        width: 132px;
        height: 48px;
        line-height: 48px;
        border-radius: 24px;
        text-align: center;
        float: right;
        background-color: #b6b472;
      }
    }
  }

  .footer {
    background-color: #2d3136;
    .copy-right {
      border-top: 1px solid #2d3136;
      background-color: #2d3136;
    }
  }

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 750px) {

}
