<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 slider-content">

    <div class="slider-unit">
        <div class="row-unit">
            <div class="title">
                <div class="u-out">
                    <span class="u-title"><span>Asset</span> <span>_Balances</span></span>
                </div>
            </div>
            <div class="table-out progress-info">
                <table>
                    <thead>
                    <tr>
                        <td><span class="fc">Currency</span></td>
                        <td><span class="fc">Total</span></td>
                        <td><span class="fc">Available</span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="icons"></span><span>USD</span></td>
                        <td><span>999.5678</span></td>
                        <td><span>3445.5678</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Deposit</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Withdraw</span></td>
                    </tr>
                    <tr>
                        <td><span class="icons"></span><span>USD</span></td>
                        <td><span>999.5678</span></td>
                        <td><span>3445.5678</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Deposit</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Withdraw</span></td>
                    </tr>
                    <tr>
                        <td><span class="icons"></span><span>USD</span></td>
                        <td><span>999.5678</span></td>
                        <td><span>3445.5678</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Deposit</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Withdraw</span></td>
                    </tr>
                    <tr>
                        <td><span class="icons"></span><span>USD</span></td>
                        <td><span>999.5678</span></td>
                        <td><span>3445.5678</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Deposit</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Withdraw</span></td>
                    </tr>
                    <tr>
                        <td><span class="icons"></span><span>USD</span></td>
                        <td><span>999.5678</span></td>
                        <td><span>3445.5678</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Deposit</span></td>
                        <td @click="toAnotherPage(1)"><span class="bc">Withdraw</span></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>