<div class="row content-out" >
    <div class="unit tfabox" v-if="nowTab==0">
        <h1>2FA</h1>
        <div class="input-out">
            <input type="text" placeholder="Enter your Google 2FA Token" />
        </div>
        <div class="button-out">
            <button type="button" @click.prevnt.stop="submitAction(1)">Submit</button>
        </div>
    </div>
    <div class="unit sms-authen" v-if="nowTab==1">
        <h1>SMS Authentication</h1>
        <div class="input-out">
            <input type="text" placeholder="Enter your Google 2FA Token" />
            <span class="s-btn" v-if="smsTab==0" @click.prevnt.stop="smsAction(0)">Get SMS Code</span>
            <span class="s-btn" v-if="smsTab==1" @click.prevnt.stop="smsAction(1)">Resend</span>
            <span class="s-btn" v-if="smsTab==2" @click.prevnt.stop="smsAction(2)">60s</span>
        </div>
        <div class="button-out">
            <button type="button" @click.prevnt.stop="submitAction(1)">Submit</button>
        </div>
    </div>
</div>

