<div class="container content-wrap">
        <div class="row">
            <div class="col-md-2 l-panel">
                <ul>
                    <li @click.prevnt.stop="toggleTabs('account',0)" :class="{active:active==0}">Account</li>
                    <li @click.prevnt.stop="toggleTabs('security',1) " :class="{active:active==1}">Security</li>
                    <li @click.prevnt.stop="toggleTabs('notification',2)" :class="{active:active==2}">Notification</li>
                    <li @click.prevnt.stop="toggleTabs('verification',3)" :class="{active:active==3}">Verification</li>
                    <li @click.prevnt.stop="toggleTabs('addressbook',4)" :class="{active:active==4}">Address Book</li>
                </ul>
            </div>

            <div class="col-md-10 r-tab">
                <transition name="usersystem">
                    <component :is="currentView"></component>
                </transition>

            </div>
        </div>
</div>
