<div class="row content-out" >
    <div class="unit resetword" v-if="nowTab==0">
        <h1>Request Password Request</h1>
        <div class="input-out">
            <input type="text" placeholder="Enter your email" /><span class="for-w"></span>
        </div>
        <p class="tip-b">
            <span></span> I acknowledge that my account will be put on 3 days withdrawal hold for a security precaution
        </p>
        <div class="button-out">
            <button type="button" class="cancel active">Cancel</button>
            <button type="button" class="submit">Submit</button>
        </div>
    </div>
    <div class="unit resetwordtip" v-if="nowTab==1">
        <h1>Request Password Request</h1>
         <p>An email has been sent with a link to reset your password.</p>
         <p>We hava sent a reset password email 13333@qq.com. Please check it to proceed with the password reset process</p>
         <p>If you have noe received your email within 5 minutes,please check the following:</p>
          <ul>
              <li>check if you hava the correct email</li>
              <li>Please check your spam folder</li>
              <li>Contact us at support@bitstar.com</li>
          </ul>
        <p class="click-tip">Back to Home <span class="long-arrow"></span></p>
    </div>
    <div class="unit resetwordtip" v-if="nowTab==2">
        <h1>Congratulations!</h1>
        <p>Your password has been reset successfully.You can log in again with your new password.</p>
        <p class="click-tip">Log in now <span class="long-arrow"></span></p>
    </div>
     <!--注册-->
    <div class="unit resetwordtip" v-if="nowTab==3">
        <h1>Congratulations!</h1>
        <p>Your have signed up successfully,our system will log in with 5s. If not succeeded,please login by yourself</p>
        <p class="click-tip" @click.stop.prevent="toLogin">Log in now <span class="long-arrow"></span></p>
    </div>
    <div class="unit resetwordtip" v-if="nowTab==4">
        <h1>Ooh!</h1>
        <p>The link has expired, please make sure you click on the link in the latest confirmation email sent within one hour of registraion</p>
        <p class="click-tip">Sign in now <span class="long-arrow"></span></p>
    </div>
    <div class="unit resetwordtip" v-if="nowTab==5">
        <h1>Welcome to <span>Superbit</span></h1>
        <p>An email has been sent with a link to reset your password.</p>
        <p>We hava sent a reset password email 13333@qq.com. Please check it to proceed with the password reset process</p>
        <p>If you have not received your email within 5 minutes,please check the following:</p>
        <ul>
            <li>check if you hava the correct email</li>
            <li>Please check your spam folder</li>
            <li>Contact us at support@bitstar.com</li>
        </ul>
    </div>

    <div class="unit resetwordtip signup-success" v-if="nowTab==6">
        <h1>Welcome to <span>Superbit</span></h1>
        <p>Congratulations and Welcom to superbit.The previous step is to confirm the email address.</p>
        <p>We hava sent a confirmmation email 13333@qq.com. Please check the link in the email to activate your account.</p>
        <p>If you have not received your email within 5 minutes,please check the following:</p>
        <ul>
            <li>check if you hava the correct email</li>
            <li>Please check your spam folder</li>
            <li>Contact us at support@bitstar.com</li>
        </ul>
    </div>

</div>

