 <div class="row  content-wrap">
            <form class="register" id="register">
                <h2>Create your account now</h2>
                <div class="input-wrap">
                    <input id="email" class="email" data-required="required" type="email" name="email" value=""  pattern="^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$" placeholder="Email address" data-errortip="Please enter a valid email address."  data-emptytip="*Cannot be empty" />
                    <p class="error-tip" id="email-tip"></p>
                </div>
                <div class="input-wrap" >
                    <input id="password" class="password" data-required="required" type="password" name="password" value="" pattern="^(\w-*\.*){8}$"  placeholder="Password"   data-emptytip="*Cannot be empty" data-errortip="Passwords must be at least 8 characters with 1 capital letter, 1 lowercase character, and 1 number, and without spaces." />
                    <p class="error-tip" id="password-tip"></p>
                </div>
                <div class="input-wrap" >
                    <input id="confirm" class="confirmword" data-required="required" type="password" name="confirmword" value="" pattern="^(\w-*\.*){8}$"  placeholder="confirm password"   data-emptytip="*Cannot be empty" data-errortip="密码不一致" />
                    <p class="error-tip" id="confirm-tip"></p>
                </div>

                <p class="sign-p">
                    <span class="mo-choose" :class="{chosen:haschosen}" @click.prevent.stop="haschosen=!haschosen"></span>By sign up,you agree to <span class="blue">Terms & Conditions</span> and <span <span class="blue">Anti-Spam Policy</span>
                </p>

                <div class="btns-out">
                    <button type="button" @click.prevent.stop="createAction">Sign Up</button>
                </div>
            </form>

  </div>

