<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 charts-line">
                <div class="row unit-pan">
                    <div class="tickers-table">
                        <div class="top-name" @click.stop.prevent="slider($event)">
                            <span class="arrow down-arrow"></span>
                            <span>CHARTS</span>
                        </div>
                        <div class="charts-view-out">
                            <chartview></chartview>
                        </div>
                    </div>
                </div>
                <!-- 委托订单 -->
                <div class="row unit-pan">
                    <div class="tickers-table">
                        <div class="top-name" @click.stop.prevent="slider($event)">
                            <span class="arrow down-arrow"></span>
                            <span>ORDERS</span>
                            <div class="select_column" @click.stop.prevent="selectType($event)">
                                <em class="sel_text">BTC</em>
                                <i class="down_gray_arrow"></i>
                                <ul @click.stop.prevent="chooseLi($event,1)">
                                    <li :data-type="item.busitype" v-for='item in busiTypeInfos'>{{item.commodityCode|uppercase}}</li>
                                </ul>
                            </div>

                            <!--右侧tab start-->
                            <div class="fr right_col_tab">
                                <a href="javascript:;" @click.stop.prevent="orderDelegateBidsOrAsks($event,2)" @click="bidsAndAsks='Bids'" :class="{active:bidsAndAsks=='Bids'}">Bids<i></i></a>
                                <a href="javascript:;" @click.stop.prevent="orderDelegateBidsOrAsks($event,1)" @click="bidsAndAsks='Asks'" :class="{active:bidsAndAsks=='Asks'}">Asks<i></i></a>
                                <a href="javascript:;" @click.stop.prevent="orderDelegateBidsOrAsks($event,'')"  @click="bidsAndAsks='All'"  :class="{active:bidsAndAsks=='All'}">All<i></i></a>
                            </div>
                            <!--右侧tab end-->
                        </div>
                        <div class="tickers-content order-table">
                            <table>
                                <thead>
                                <tr>
                                    <td><span class="clear-arrow">PAIR</span></td>
                                    <td><span>CONTEXT</span><span class="arrow-t"></span></td>
                                    <td><span>TYPE</span><span class="arrow-t choose-up"></span></td>
                                    <td><span>AMOUNT</span><span class="arrow-t"></span></td>
                                    <td><span>PRICE</span><span class="arrow-t"></span></td>
                                    <td><span>STATUS</span><span class="arrow-t"></span></td>
                                    <td class="tl"><span>PLACES</span><span class="arrow-t"></span></td>
                                    <td class="delete-td">
                                        <span></span>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in unCompleteOrders">
                                   <td>
                                        <span class="circle"></span>
                                        <span>{{item.busitype|getCoinType(0)}}/{{item.busitype|getCoinType(1)}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.type}}</span>
                                    </td>
                                    <td>
                                        <span>LIMIT</span>
                                    </td>
                                    <td class="tl">
                                        <span>{{item.orderAmount}}</span>
                                    </td>

                                    <td>
                                        <span>{{item.orderPrice}}</span>
                                    </td>
                                    <td class="sc-blue">
                                        <span>Active</span>
                                    </td>
                                    <td class="tl">
                                        <span>{{item.createTime|dateTimeFormat('yyyy-MM-dd hh:mm:ss')}}</span>
                                    </td>
                                    <td class="delete-td">
                                        <span></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="no-act">
                                <span>No acticity orders</span>
                                <span class="sc-blue remove-a">Remove applied filters</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 成交历史订单 -->
                <div class="row unit-pan">
                    <div class="tickers-table">
                        <div class="top-name" @click.stop.prevent="slider($event)">
                            <span class="arrow down-arrow"></span>
                            <span>ORDER HISTORY</span>
                            <div class="select_column" @click.stop.prevent="selectType($event)">
                                <em class="sel_text">BTC</em>
                                <i class="down_gray_arrow"></i>
                                <ul @click.stop.prevent="chooseLi($event,2)">
                                    <li :data-type="item.busitype" v-for='item in busiTypeInfos'>{{item.commodityCode|uppercase}}</li>
                                </ul>
                            </div>

                            <!--右侧tab start-->
                            <div class="fr right_col_tab">
                                <a href="javascript:;" @click.stop.prevent="orderHistory($event,4)" @click="orderSate='Canceled'" :class="{active:orderSate=='Canceled'}">Canceled<i></i></a>
                                <a href="javascript:;" @click.stop.prevent="orderHistory($event,2)" @click="orderSate='Executed'" :class="{active:orderSate=='Executed'}">Executed<i></i></a>
                                <a href="javascript:;" @click.stop.prevent="orderHistory($event,3)"  @click="orderSate='Partially'" :class="{active:orderSate=='Partially'}">Partially Executed<i></i></a>
                                <a href="javascript:;" @click.stop.prevent="orderHistory($event,'')" @click="orderSate='All'" :class="{active:orderSate=='All'}">All<i></i></a>
                            </div>
                            <!--右侧tab end-->
                        </div>
                        <div class="tickers-content history-table">
                            <table>
                                <thead>
                                <tr>
                                    <td><span class="clear-arrow">PAIR</span></td>
                                    <td><span>CONTEXT</span><span class="arrow-t"></span></td>
                                    <td><span>TYPE</span><span class="arrow-t choose-up"></span></td>
                                    <td class="tr"><span>AMOUNT</span><span class="arrow-t"></span></td>
                                    <td><span>PRICE</span><span class="arrow-t"></span></td>
                                    <td><span>STATUS</span><span class="arrow-t"></span></td>
                                    <td><span>PLACES</span><span class="arrow-t"></span></td>
                                    <td class="delete-td">
                                        <span class="close"></span>
                                    </td>
                                </tr>

                                </thead>
                                <tbody>
                                <tr v-for="item in completeOrders">
                                   <td>
                                        <span class="circle"></span>
                                        <span>{{item.busitype|getCoinType(0)}}/{{item.busitype|getCoinType(1)}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.type}}</span>
                                    </td>
                                    <td>
                                        <span>LIMIT</span>
                                    </td>
                                    <td class="tl">
                                        <span>{{item.orderAmount}}</span>
                                    </td>

                                    <td>
                                        <span>{{item.orderPrice}}</span>
                                    </td>
                                    <td class="sc-blue">
                                        <span>Active</span>
                                    </td>
                                    <td class="tl">
                                        <span>{{item.createTime|dateTimeFormat('yyyy-MM-dd hh:mm:ss')}}</span>
                                    </td>
                                    <td class="delete-td" @click.stop.prevent="deleteOrder($event)">
                                        <span></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="no-act">
                                <span>No acticity orders</span>
                                <span class="sc-blue remove-a">Remove applied filters</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row unit-pan book-trader">
                    <div class="col-sm-12 col-xs-12 order-book-p">
                        <div class="tickers-table">
                            <div class="top-name" @click.stop.prevent="slider($event)">
                                <span class="arrow down-arrow"></span>
                                <span>ORDER BOOK</span>
                                <span class="fc">BTC/USD</span>
                                <div class="change-tag">
                                    <span class="minus"></span>
                                    <span class="plus"></span>
                                </div>
                            </div>
                            <div class="tickers-content order-book">
                                <div class="hill_wrap">
                                    <div class="hill_tit">
                                        <span class="clear-arrow"></span>
                                        <span class="clear-arrow">AMOUNT</span>
                                        <span class="clear-arrow">TOTAL</span>
                                        <span class="clear-arrow">PRICE</span>
                                        <span class="clear-arrow">PRICE</span>
                                        <span class="clear-arrow">TOTAL</span>
                                        <span class="clear-arrow">AMOUNT</span>
                                        <span class="clear-arrow"></span>
                                    </div>
                                    <div class="hill_body">

                                        <div class="hill_list" v-for="(item,index) in asks">
                                            <div class="hill_left_bg"><em v-bind:style="{width:(bids[index].totel*100/bids.allBidsAmount)+'%'}"></em></div>
                                            <div class="hill_right_bg"><em v-bind:style="{width:(asks[index].totel*100/asks.allAsksAmount)+'%'}"></em></div>
                                            <div class="hill_item" >
                                                <span>bid{{index+1}}</span>
                                                <span>{{bids[index].amount|dataformat(2)}}</span>
                                                <span>{{bids[index].totel|dataformat(2)}}</span>
                                                <span>{{bids[index].price|dataformat(2)}}</span>

                                                <span>{{asks[index].price|dataformat(2)}}</span>
                                                <span>{{asks[index].totel|dataformat(2)}}</span>
                                                <span>{{asks[index].totel|dataformat(2)}}</span>
                                                <span>ask{{index+1}}</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 trades-p">
                        <div class="tickers-table">
                            <div class="top-name" @click.stop.prevent="slider($event)">
                                <span class="arrow down-arrow"></span>
                                <span>TRADES</span>
                                <span class="fc">BTC/USD</span>
                            </div>
                            <div class="tickers-content trade">
                                <table>
                                    <thead>
                                    <tr>
                                        <td><span class="clear-arrow">TIME</span></td>
                                        <td><span class="clear-arrow">PRICE</span></td>
                                        <td><span class="clear-arrow">AMOUNT</span></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in recentTradeRecords">
                                        <span>{{item.time}}</span>

                                        <td><span>{{item.price|dataformat(2)}}</span></td>
                                        <td><span>{{item.amount|dataformat(4)}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
