<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 sidebar">
    <div class="row unit-pan first-pan">
        <div class="top-title clearfix">
            <span class="c-logo"></span>
            <div class="fl side_zb_wrap">
                <em class="bs">BTC/USD</em>
                <em class="side_zb"><i>High：</i><i class="jt_num">{{ticker.high| dataformat(2)}}</i></em>
                <em class="side_zb"><i>Low： </i><i class="jt_num">{{ticker.low| dataformat(2)}}</i></em>
            </div>
            <span class="pull-right">
                <span class="coin-value">{{ticker.last|dataformat(2)}}</span><span class="s-arrow">{{ticker.float*100|dataformat(4)}}%</span>
                <i><b>VOL</b> {{ticker.vol|dataformat(2)}} BTC</i>
            </span>
        </div>
        <div class="tickers-table ">
            <div class="top-name" @click.stop.prevent="slider($event)">
                <span class="arrow down-arrow"></span>
                <span>TICKERS</span>
            </div>
            <div class="tickers-content">
                <table>
                    <thead>
                    <tr>
                        <td @click.prevent.stop="showbox()"><span>SYMBOL</span><span class="arrow-t"></span></td>
                        <td class="tr" @click.prevent.stop="showbox()"><span>LST</span><span
                                class="arrow-t choose-up"></span></td>
                        <td @click.prevent.stop="showbox()"><span>24HR</span><span class="arrow-t choose-down"></span>
                        </td>
                        <td @click.prevent.stop="showbox()"><span>VOLUME SELF</span><span class="arrow-t"></span></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for='item in tickerArary'>
                        <td>
                            <span class="BTC-icon"></span>
                            <span>{{item.busitype | getCoinType(0)}}</span>
                        </td>
                        <td class="tr">
                            <span> {{item.usdvol | dataformat(2)}}</span>
                            <span class="fc">USD</span>
                        </td>
                        <td class="fc-red">
                            <span> {{item.float*100 | dataformat(2)}}%</span>
                        </td>
                        <td>
                            <span>{{item.vol | dataformat(4)}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row unit-pan">
        <div class="tickers-table">
            <div class="top-name" @click.stop.prevent="slider($event)">
                <span class="arrow down-arrow"></span>
                <span>ORDER FROM</span>
            </div>
            <div class="tickers-content order-t">
                <div class="input-w">
                    <div class="row">
                        <div class="price-w select-t">
                            <input type="text" id="limit" value="Limit" readonly="readonly"/>
                        </div>
                    </div>
                </div>
                <div class="input-w ">
                    <div class="row">
                        <div class="price-w">
                            <label class="clearfix"><span>PRICE</span><span class="opa_3">USD</span><div class="fr"><em class="green_cross"></em><em class="red_cross"></em></div></label>
                            <input type="text" id="price" v-model="price"/>
                        </div>
                        <div class="price-w">
                            <label><span>AMOUNT</span><span class="opa_3">BTC</span><div class="fr"><em class="green_cross"></em><em class="red_cross"></em></div></label>
                            <input type="text" id="amount" v-model="amount"/>
                        </div>
                    </div>
                    <div class="row btns">
                        <button type="button" class="buy" v-on:click="buyEvent($event)">Buy</button>
                        <button type="button" class="sell" v-on:click="sellEvent($event)">Sell</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row unit-pan">
        <div class="tickers-table">
            <div class="top-name" @click.stop.prevent="slider($event)">
                <span class="arrow down-arrow"></span>
                <span>BALANCES</span>
            </div>
            <div class="tickers-content balances">
                <div class="side_balance_tit">
                    <h5 class="b-tip mr30">TOTAL</h5>
                    <h5 class="b-tip">AVAILABLE</h5>
                </div>

                <ul>
                    <li v-for="item in balances" @click.stop.prevent="sliderPart($event,1,item.coinCode)">
                        <span>{{item.coinName}}</span>
                        <span>{{item.userFixAmount}}</span>
                        <span>{{item.userActiveAmount}}</span>
                    </li>
                    <li>
                      <span>USD EQUIV<i class="market_color"> / MARKET</i></span>
                      <span>{{smAssetToUsd}}</span>
                   </li>
                </ul>
            </div>
        </div>
        <div class="slider-part">
            <span class="close" @click.stop.prevent="sliderPart($event,0)"></span>
            <div class="title">
                <span>{{this.userAssetInfo.coinName}} Asset</span>
            </div>
            <div class="tab-nav">
                <div class="tab">Deposit {{this.userAssetInfo.coinName}}</div>
                <div class="tab">Withdraw {{this.userAssetInfo.coinName}}</div>
            </div>
            <ul>
                <li>
                    <span>Total</span>
                    <span>

                          <span>{{this.userAssetInfo.userFixAmount}}</span>
                          <!-- <span class="fc">00000</span> -->
                          <span class="tmt">{{this.userAssetInfo.coinName}}</span>
                    </span>
                </li>
                <li>
                    <span>Avaliabble</span>
                    <span>
                          <span>{{userAssetInfo.userActiveAmount}}</span>
                          <!-- <span class="fc">00000</span> -->
                          <span class="tmt">{{userAssetInfo.coinName}}</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>


</div>
