<div class="modal-out show-box">
    <div class="modal-backdrop" @webkitTransitionEnd="ame()"></div>
    <div id="modal" class="modal">
        <span class="close" @click.prevent.stop="closeTip()"></span>
        <div class="modal-content sms-check" v-if="showpart==0">
            <div class="modal-header">
                <h3>SMS CHECK</h3>
                <p class="">This action requires an additional security check.Pleasure confirm using SMS code.</p>
            </div>
            <div class="modal-body">
                <div class="input-out">
                    <div class="input-inner">
                        <input type="text" v-model="smscode" id="smscdode" placeholder="Enter SMS Code" />
                        <div class="bottom-line" :class="this.smserror==1?'to-red':''"></div>
                        <transition name="error-tip" v-if="smserror==1&&smsempty==1">
                            <p class="tip-p">Please enter sms code.</p>
                        </transition>
                        <transition name="error-tip" v-if="smserror==1&&smsverror==1">
                            <p class="tip-p more-p">Wrong code</p>
                        </transition>
                    </div>
                    <button type="button" class="resend" :class="{disabled:smsTab==1}" id="getcode" @click="unBindAction()">Get Code</button>
                </div>
            </div>
            <div class="modal-footer">
                <p class="small"><span class="light"></span>For the sake of your account safety.google-authentication or phone authentication is requires for large amount withdrawal,and strongly recommended for all the trading and withdrawal process.
                Please consider to keep one of the authentication enabled</p>
            </div>
        </div>
        <div class="modal-content sms-check" v-if="showpart==1">
            <div class="modal-header">
                <h3>2FA CHECK</h3>
                <p class="">This action requires an additional security check.Pleasure confirm 2FA token.</p>
            </div>
            <div class="modal-body">
                <div class="input-out">
                    <div class="input-inner">
                    <input type="text" id="gltoken" v-model="gltoken" placeholder="Enter Google 2Fa token" />
                    <div class="bottom-line" :class="this.passworderror==1?'to-red':''"></div>
                    <transition name="error-tip" v-if="glerror==1&&glempty==1">
                        <p class="tip-p">Please enter your Google 2Fa token.</p>
                    </transition>
                    <transition name="error-tip" v-if="glerror==1&&glverror==1">
                        <p class="tip-p more-p">Wrong token</p>
                    </transition>
                    </div>
                    <button type="button" class="resend" @click="unBindGLAction()">Submit</button>
                </div>
            </div>
            <div class="modal-footer">
                <p class="small"><span class="light"></span>For the sake of your account safety.google-authentication or phone authentication is requires for large amount withdrawal,and strongly recommended for all the trading and withdrawal process.
                    Please consider to keep one of the authentication enabled</p>
            </div>
        </div>
        <div class="modal-content change-method" v-if="showpart=='2'">
            <div class="modal-header">
                <h3>change method</h3>
            </div>
            <div class="modal-body">
                <p class="only-p">For the sake of your axxount safety,two-factor authentication or phone authentication is
                    required for large amount winthdrawal.You can choose to enable either of the authentication method,but only one of them could be enabled at one time</p>
                <p class="only-p">If you want to change,please disable or unbind the current authentication method first.</p>
            </div>
            <div class="modal-footer">
                 <button type="button" class="okbtn">ok</button>
            </div>
        </div>
        <div class="modal-content enabletfa" v-if="showpart==3">
            <div class="modal-header">
                <h3>Enable 2FA</h3>
            </div>
            <div class="modal-body">
                <p class="only-p">The first step is to download the google Authenticator app for your Android or IOS device.If you need help getting started,please
                see Google's Support Page<br>If you do not have access to android Market or APP Store,there are other options for getting Goole Authenticator,Android Download,Goole Chrome Plugin,or iTunes App Store</p>
                <p class="only-p">The token will not be shown again after 2FA is enabled.If you have multiple devices,add your account token to all of them before clicking enable.(Note:Your Account Token will change each time you reload your browser)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="okbtn" @click.prevent.stop="closeTip()">ok</button>
            </div>
        </div>
        <div class="modal-content deltip" v-if="showpart==5">
            <div class="modal-header">
                <h3>Delete Address</h3>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Address Name</td>
                        <td>Sandy's BTC Address</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>DDSDSDSDSDSDDSDSDSDSD</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn-out">
                    <button type="button" class="active" @click.prevent.stop="closeTip()">Cancel</button>
                    <button type="button" @click.prevent.stop="closeTip()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>


