<form class="verification" @submit.prevent="validateForm('form-1')"  data-vv-scope="form-1">
    <div class="unit ver">
        <h2>verification</h2>
       <p class="big-mb">Verification is required for USD deposit,and USD withdrawal.Please enter your personal information and update the material
       needed for verification. After all the information is complete,the compliance team will begin to review,and you are able
       to monitor the progress towards verification.
       </p>
       <p class="gan">Verification is required for USD deposit,and USD withdrawal.Please enter your personal information and update the material
           needed for verification.</p>
       <p class="gan">Verification is required for USD deposit,and USD withdrawal.Please enter your personal information and update the material
           needed for verification.</p>
    </div>
    <div class="unit name">
        <h2>Name</h2>
        <div class="input-row">
            <div class="input-out">
                <label>Family Name</label>
                <div class="input-inner">
                    <input type="text" name="familyname" id="familyname" v-validate="'required'" data-vv-delay="500" value="" />
                    <i :class="{'bottom-line':true,'to-red':errors.has('form-1.familyname')}"></i>
                    <transition name="error-tip" v-if="errors.has('form-1.familyname')">
                        <span class="is-danger">{{ errors.first('form-1.familyname') }}</span>
                    </transition>
                </div>
            </div>
            <div class="input-out">
                <label>Given Name</label>
                <div class="input-inner">
                    <input type="text" name="givenname" id="givenname" v-validate="'required'" data-vv-delay="500" value="" />
                    <i :class="{'bottom-line':true,'to-red':errors.has('form-1.givenname')}"></i>
                    <transition name="error-tip" v-if="errors.has('form-1.givenname')">
                        <span class="is-danger">{{ errors.first('form-1.givenname') }}</span>
                    </transition>
                </div>
            </div>
        </div>
        <div class="input-row">
            <div class="input-out">
                <label>Nationality</label>
                <div class="input-inner">
                    <input type="text" name="nationality" id="nationality" v-validate="'required'" data-vv-delay="500" value="" />
                    <i :class="{'bottom-line':true,'to-red':errors.has('form-1.nationality')}"></i>
                    <transition name="error-tip" v-if="errors.has('form-1.nationality')">
                        <span class="is-danger">{{ errors.first('form-1.nationality') }}</span>
                    </transition>
                </div>
            </div>
        </div>
    </div>
    <div class="unit identity">
        <h2>Identity</h2>
        <div class="input-out radio-wrap">
            <div class="radio-row">
                <span class="radio" :class="{clicked:idcliked}" @click.prevent.stop="idcliked=!idcliked;psclicked=false;"></span><span>National ID card</span>
            </div>
            <div class="radio-row">
                <span class="radio" :class="{clicked:psclicked}" @click.prevent.stop="psclicked=!psclicked;idcliked=false;"></span><span>Passport</span>
            </div>
        </div>
        <div class="input-row">
            <div class="input-out">
                <label>Card Number</label>
                <div class="input-inner">
                    <input type="text" name="cardnumber" id="cardnumber" v-validate="'required'" data-vv-delay="500" value="" />
                    <i :class="{'bottom-line':true,'to-red':errors.has('form-1.cardnumber')}"></i>
                    <transition name="error-tip" v-if="errors.has('form-1.cardnumber')">
                        <span class="is-danger">{{ errors.first('form-1.cardnumber') }}</span>
                    </transition>
                </div>
            </div>
            <div class="input-out">
                <label>Card Country</label>
                <div class="input-inner">
                    <input type="text" name="cardcountry" id="cardcountry" v-validate="'required'" data-vv-delay="500" value="" />
                    <i :class="{'bottom-line':true,'to-red':errors.has('form-1.cardcountry')}"></i>
                    <transition name="error-tip" v-if="errors.has('form-1.cardcountry')">
                        <span class="is-danger">{{ errors.first('form-1.cardcountry') }}</span>
                    </transition>
                </div>
            </div>
        </div>
        <div class="input-row">
            <div class="input-out">
                <label>Expiration date</label>
                <div class="input-inner date-out">
                    <span class="date-icon"></span>
                    <input type="text" name="expiradate" id="expiradate" v-validate="'required'" placeholder="2017-12-20" data-vv-delay="500" value="" />
                    <i :class="{'bottom-line':true,'to-red':errors.has('form-1.expiradate')}"></i>
                    <transition name="error-tip" v-if="errors.has('form-1.expiradate')">
                        <span class="is-danger">{{ errors.first('form-1.expiradate') }}</span>
                    </transition>
                </div>
            </div>
        </div>
        <p>Pleasure make sure the photo is complate and clearly visible,photo size cannot exceed 4M,and the passport or Id
        card is in the valid period</p>
        <div class="upload-out">
            <div class="upload" v-if="idcliked">
                 <span class="u-out cup">Upload<input type="file" name="nfp" id="nfp"  @change="changeHandler($event,1,'nf')" /></span>
                 <div class="png-input">
                     <input type="text" class="fg" id="nf"  placeholder="National Id card front" readonly="readonly" />
                    <!-- <transition name="error-tip" v-if="nopic1||toobig1">
                         <span class="is-danger" v-if="nopic1">非图片文件</span>
                         <span class="is-danger" v-if="toobig1">图片不能大于4M</span>
                     </transition>-->

                 </div>
            </div>
            <div class="upload" v-if="idcliked">
                <span class="u-out cup">Upload<input type="file" id="nbp" @change="changeHandler($event,1,'nb')" /></span>
                <input type="text" class="fg" id="nb" placeholder="National Id card back" readonly="readonly" />
            </div>

            <div class="upload" v-if="psclicked">
                <span class="u-out cup">Upload<input type="file" id="psp" @change="changeHandler($event,2,'ps')" /></span>
                <input type="text" class="fg" id="ps" placeholder="National Id card back" readonly="readonly" />
            </div>
        </div>

    </div>
    <div class="unit selfie">
        <h2>Selfie with identity and Note</h2>
        <div class="note-out">
            <div class="left">

            </div>
            <div class="right">
                <p>Pleasure make sure the photo is complate and clearly visible,photo size cannot exceed 4M,and the passport or Id
                    card is in the valid period</p>
                <h5>REQUIRED:</h5>
               <ul>
                   <li>Face clearly visible1</li>
                   <li>Face clearly visible2</li>
                   <li>Face clearly visible3</li>
                   <li>Face clearly visible4</li>
                   <li>Face clearly visible5</li>
               </ul>

            </div>
        </div>
        <div class="upload-out">
            <div class="upload">
                <span class="u-out cup">Upload<input type="file" id="self" @change="changeHandler($event,3,'nop')" /></span>
                <input type="text" id="nop" class="fg" placeholder="Passport BIO page" readonly="readonly" />
            </div>
        </div>
        <div class="sub-mit">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>