<div class="verification">
    <div class="unit ver">
        <h2>verification</h2>
       <p class="big-mb">Verification is required for USD deposit,and USD withdrawal.Please enter your personal information and update the material
       needed for verification. After all the information is complete,the compliance team will begin to review,and you are able
       to monitor the progress towards verification.
       </p>
       <p class="gan">Verification is required for USD deposit,and USD withdrawal.Please enter your personal information and update the material
           needed for verification.</p>
       <p class="gan">Verification is required for USD deposit,and USD withdrawal.Please enter your personal information and update the material
           needed for verification.</p>
    </div>
    <div class="unit name">
        <h2>Name</h2>
        <div class="input-row">
            <div class="input-out">
                <label>Family Name</label><input type="text" value="Lisa" />
            </div>
            <div class="input-out">
                <label>Given Name</label><input type="text" value="Demon" />
            </div>
        </div>
        <div class="input-row">
            <div class="input-out">
                <label>Nationality</label><input type="text" value="Lisa" />
            </div>
        </div>
    </div>
    <div class="unit identity">
        <h2>Identity</h2>
        <div class="input-out radio-wrap">
            <div class="radio-row">
                <span class="radio" :class="{clicked:idcliked}" @click.prevent.stop="idcliked=!idcliked;psclicked=false;"></span><span>National ID card</span>
            </div>
            <div class="radio-row">
                <span class="radio" :class="{clicked:psclicked}" @click.prevent.stop="psclicked=!psclicked;idcliked=false;"></span><span>Passport</span>
            </div>
        </div>
        <div class="input-row">
            <div class="input-out">
                <label>Card Number</label><input type="text" value="Lisa" />
            </div>
            <div class="input-out">
                <label>Card Country</label><input type="text" value="Demon" />
            </div>
        </div>
        <div class="input-row">
            <div class="input-out">
                <label>Expiration date</label><input type="text" value="Lisa" />
            </div>
        </div>
        <p>Pleasure make sure the photo is complate and clearly visible,photo size cannot exceed 4M,and the passport or Id
        card is in the valid period</p>
        <div class="upload-out" v-if="idcliked">
            <div class="upload">
                 <span class="u-out cup">Upload<input type="file" onchange="document.querySelector('#nf').value=this.value" /></span>
                 <input type="text" id="nf"  placeholder="National Id card front" readonly="readonly" />
            </div>
            <div class="upload">
                <span class="u-out cup">Upload<input type="file" onchange="document.querySelector('#ng').value=this.value" /></span>
                <input type="text" id="ng" placeholder="National Id card back" readonly="readonly" />
            </div>
        </div>
        <div class="upload-out" v-if="psclicked">
            <div class="upload">
                <span class="u-out cup">Upload<input type="file" onchange="document.querySelector('#pg').value=this.value" /></span>
                <input type="text" id="pg" placeholder="Passport BIO page" readonly="readonly" />
            </div>
        </div>
    </div>
    <div class="unit selfie">
        <h2>Selfie with identity and Note</h2>
        <div class="note-out">
            <div class="left">

            </div>
            <div class="right">
                <p>Pleasure make sure the photo is complate and clearly visible,photo size cannot exceed 4M,and the passport or Id
                    card is in the valid period</p>
                <h5>REQUIRED:</h5>
               <ul>
                   <li>Face clearly visible1</li>
                   <li>Face clearly visible2</li>
                   <li>Face clearly visible3</li>
                   <li>Face clearly visible4</li>
                   <li>Face clearly visible5</li>
               </ul>

            </div>
        </div>
        <div class="upload-out">
            <div class="upload">
                <span class="u-out cup">Upload<input type="file" onchange="document.querySelector('#pg2').value=this.value" /></span>
                <input type="text" id="pg2" placeholder="Passport BIO page" readonly="readonly" />
            </div>
        </div>
        <div class="sub-mit">
            <button type="submit">Submit</button>
        </div>
    </div>
</div>